body {
  background-color: #3bd97a;
  text-align: center;
}

.word {
  font-size: 30px;
  line-height:500px;
	margin: auto;
}

.glow-text{
  line-height:60px;
  background: #00adb5;
  color:#fff;
  text-align: center;
  text-shadow: 0 0 0.1em, 0 0 0.3em;
}
